<div class="container">
    <form class="form-horizontal" name="teacherForm">
        <div ng-class="teacherForm.username.$valid ?  'form-group': 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" for="username">Nazwa użytkownika:</label>
            <div class="col-sm-5">
                <input name="username" ng-model="teacher.username" type="text" class="form-control" id="username"
                       ng-maxlength="20" ng-minlength="5" required>
            </div>
        </div>
        <div ng-class="teacherForm.password.$valid ?  'form-group': 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" for="password">Hasło:</label>
            <div class="col-sm-5">
                <input name="password" ng-model="teacher.password" type="password" class="form-control" id="password"
                       ng-maxlength="20" ng-minlength="5" required>
            </div>
        </div>
        <div ng-class="teacherForm.name.$valid ?  'form-group': 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" for="name">Imię:</label>
            <div class="col-sm-5">
                <input name="name" ng-model="teacher.name" type="text" class="form-control" id="name"
                       ng-maxlength="50" ng-minlength="3" required>
            </div>
        </div>

        <div ng-class="teacherForm.surname.$valid ?  'form-group': 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" for="surname">Nazwisko:</label>
            <div class="col-sm-5">
                <input name="surname" ng-model="teacher.surname" type="text" class="form-control" id="surname"
                       ng-maxlength="50" ng-minlength="3" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="!(teacherForm.name.$valid)"
                        ng-show="editAction" ng-click="save()"
                        type="submit" class="btn btn-default">Edytuj
                </button>
                <button ng-disabled="!(teacherForm.name.$valid )"
                        ng-hide="editAction" ng-click="save()"
                        type="submit" class="btn btn-default">Dodaj
                </button>
            </div>
        </div>
    </form>
</div>