<div class="container">
    <form class="form-horizontal" name="messageForm">
        <div ng-class="messageForm.messageText.$valid ?  'form-group': 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" for="messageText">Treść:</label>
            <div class="col-sm-5">
                <textarea name="messageText" ng-model="message.messageText" class="form-control" id="messageText"
                          ng-maxlength="128"
                          required></textarea>
            </div>
        </div>

        <div ng-class="messageForm.rooms.$valid ?  'form-group': 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" for="rooms">Pokój:</label>
            <div class="col-sm-5">
                <input ng-maxlength="10" ng-minlength="1" name="rooms" ng-model="message.roomNumber" class="form-control"
                       id="rooms" type="text" placeholder="np. 903"
                       required>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="!()"
                        ng-show="editAction" ng-click="save()"
                        type="submit" class="btn btn-default">Edytuj
                </button>
                <button ng-disabled="!()"
                        ng-hide="editAction" ng-click="save()"
                        type="submit" class="btn btn-default">Dodaj
                </button>
            </div>
        </div>
    </form>
</div>