<div class="container">
    {{room}}
    <form class="form-horizontal" name="roomForm">

        <div ng-class="roomForm.number.$valid ?  'form-group has-success has-feedback': 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" for="room">Numer:</label>
            <div class="col-sm-5">
                <input ng-disabled="editAction" ng-pattern="roomRegex" name="number" ng-model="room.number" type="text" class="form-control"
                       id="room"
                       placeholder="np. 903" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="!(roomForm.number.$valid)"
                        ng-show="editAction" ng-click="edit()"
                        type="submit" class="btn btn-default">Edytuj
                </button>
                <button ng-disabled="!(roomForm.number.$valid )"
                        ng-hide="editAction" ng-click="save()"
                        type="submit" class="btn btn-default">Dodaj
                </button>
            </div>
        </div>
    </form>
</div>