<style>
    .sqr {
        border-color: white;
        border-style: solid;
        border-width: 1px;
        position: relative;
        width: 80%;
        height: 80%;
        left: 10%;
        opacity: 0.97;
        font-family: "Century Gothic";
    }

    .event {
        border-style: solid;
        border-width: 0px;
        position: absolute;
        background-color: #0a3aff;
        /*background: linear-gradient(to right, #0711ff, #0a3aff);*/
        width: 20%;
        /*min-height: 5%;*/
        /*max-height: 40%;*/
        overflow: hidden;
        /*transition: max-height 1s, background 1s, left 1s;*/
        transition: all 0.5s;
        text-align: center;

    }

    /*.sqr div:hover{*/
    /*background-color: yellow;*/
    /*!*max-height: 100%;*!*/
    /*transition: max-height 1s, background 1s, left 2s;*/
    /*!*left: 10%;*!*/
    /*}*/

    .event div {
        width: 100px;
        height: 100px;
        background-image: url("http://downloadicons.net/sites/default/files/laboratory-icon-46113.png");
        left: 0%;
        opacity: 1;
    }

    .event:hover div {
        opacity: 0.5;
        left: 70%;
        background-image: url("/js/public/tapeta.jpg");
        transition: background-image 1s, left 1s, opacity 1s;
        color: transparent;
    }

    #sqr-ext {
    . sqr;
    }

    .dayLabel {
        border-style: solid;
        border-color: white;
        border-width: 0px 1px 0px 0px;
        position: absolute;
        background-color: rgb(122, 77, 242);
        /*width: 20%;*/
        /*min-height: 5%;*/
        /*max-height: 40%;*/
        overflow: inherit;
        /*transition: max-height 1s, background 1s, left 1s;*/
        /*transition: all 0.5s;*/
        text-align: center;
        height: 100%;
    }

    .hourDiv {
        position: relative;
        background-color: rgb(218, 218, 218);
        border-style: solid;
        border-width: 1px 0px 0px 0px;
        border-color: white;
    }

    .hourColumn {
        border-style: solid;
        border-color: white;
        border-width: 1px 1px 0px 0px;
        position: absolute;
        background-color: rgb(122, 77, 242);
        /*width: 20%;*/
        /*min-height: 5%;*/
        /*max-height: 40%;*/
        overflow: hidden;
        /*transition: max-height 1s, background 1s, left 1s;*/
        /*transition: all 0.5s;*/
        text-align: center;
        margin: auto;
    }

    .hourColumn label {
        margin-top: 15%;
    }

    .eventDiv {
        /*border-style: solid;*/
        /*border-width: 1px;*/
        /*position: absolute;*/
        background-color: red;
        overflow: hidden;
        /*transition: max-height 1s, background 1s, left 1s;*/
        /*transition: all 0.5s;*/
        text-align: center;
        width: 100%;
    }

</style>
test opis
<div class="sqr">
    <!--Days label-->
    <div class="dayLabel" ng-repeat="name in day.names" ng-style="day.getStyle($index)"
         ng-init="eventFilter.weekDayIndex=$index">
        <div style="height: 10%">
            <label>{{name}}</label>
        </div>
        <div class="hourDiv" ng-repeat="i in day.hours.getQuantityArray() track by $index"
             ng-style="day.hours.getStyle($index)">
        </div>
        <div class="event" ng-repeat="event in events| filter:eventFilter"
             ng-style="eventUtils.getStyle(event.startHour, event.startMinute, event.duration)">
            <!--<img src="http://downloadicons.net/sites/default/files/laboratory-icon-46113.png" style="height: 20%; width: 20%;"/>-->
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/2248-200.png" style="height: 20%; width: 20%;"/>

            <h3 style="display: inline">{{event.title}}</h3>
            <label> elo spoko opis opis nasz opis elo spoko opis opis nasz opis elo spoko opis opis nasz opis elo spoko
                tescik gas
                opis
            </label>

        </div>
    </div>
    <div class="hourColumn" ng-repeat="row in hourColumn.getHourArray()" ng-style="hourColumn.getStyle($index)">
        <label>{{row}}</label>

    </div>
    <!--
    <div class="event" ng-repeat="event in events"
         style="top: {{((event.start-8)/10)*100}}%; min-height: {{(( event.end- event.start)/10)*100}}%; max-height: {{(( event.end- event.start)/10)*100}}%;">
        <div></div>
        <h3>{{event.start}}</h3> opis nasz opis elo spoko opis opis nasz opis elo spoko opis
    </div>
    <div class="event" ng-style="style" ng-mouseenter="test()" ng-mouseleave="test1()" ng-click="add()"> opis nasz opis
        elo spoko opis opis nasz opis elo spoko opis opis nasz opis elo spoko opis opis nasz opis elo spoko opis
    </div>
    -->
</div>
